<% @user.recent_posts.each do |post| %>
    <a class="user_page_post" href="/users/<%= @user.id %>/posts/<%= post.id %>">
        <span class="post_title"><%= post.title %></span>
        <p class="post_text"> <%= post.text %> </p>
        <div class="post_interactions">
            <p>Comments: <%=post.CommentsCounter %></p> 
            <p>, Likes: <%= post.LikesCounter %></p>
        </div>
    </a>
<% end %>