<div class="user_page">
    <div class="user_page_username">
        <img class="user_page_image" src="<%= @user.photo %>" alt="<%= @user.name %>">
        <div class="user_page_detail">
            <p> <%= @user.name %> </p>
            <p class="user_posts_count">Number of posts: <%= @user.PostsCounter %></p>
        </div>
    </div>
    <div class="user_page_bio">
        <span class="bio_header">Bio</span>
        <p class="user_bio"><%= @user.bio %> </p>
    </div>
    <div class="user_page_posts">
        <%= render partial: "posts" %>
    </div>
    <button class="see_all_posts_btn">See all posts</button>
</div>