<div class="post_page">
    <div class="post_page_username">
        <img class="post_page_image" src="<%= @user.photo %>" alt="<%= @user.name %>">
        <div class="post_page_detail">
            <p> <%= @user.name %> </p>
            <p class="post_posts_count">Number of posts: <%= @user.PostsCounter %></p>
        </div>
    </div>
    <div class="post_page_posts">
        <% @posts.each do |post| %>
            <%= render partial: "post_article", locals: {post: post} %>
        <% end %>
    </div>
    <button class="see_all_posts_btn">Pagination</button>
</div>
