<article class="show_post">
    <div class="show_post_details">
        <p><%= @post.title %> by <%= @post.user.name %> </p>
        <div class="show_post_interactions">
            <p><%= pluralize(@post.CommentsCounter, "comment") %></p> 
            <p>, <%= pluralize(@post.LikesCounter, "like") %></p>
        </div>
    </div>
    <p class="show_post_text">
        <%= @post.text %>
    </p>
</article>
<ul class="show_post_comments">
    <% @post.comments.each do |comment| %>
        <p><%= comment.user.name %> : <%= comment.text  %>  </p>
    <% end %>
</ul>